<launch>
    <node pkg="vfh" type="vfh_node.py" name="vfh_node" output="screen"></node>
	

    <include file="$(find turtlebot3_gazebo)/launch/custom_world.launch">
        <arg name="model" value="burger"/>
        <arg name="world_name_file" value="/home/pariya/Documents/robotics/catkin_hw2/src/turtlebot3_simulations/turtlebot3_gazebo/worlds/funky-maze.world"/>
        <arg name="x_pos" value="8"/>
        <arg name="y_pos" value="8"/> 
        <arg name="z_pos" value="0.0"/>
        <arg name="yaw" value="-1.57"/>
    </include>

    <!-- <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch"/> -->


</launch>